<div class="topHeader">
    <div class="container">

        <div class="logo">
            <a href="javascript:void(0);" routerLink="/home"><img src="/assets/img/logo.svg" alt=""></a>
        </div>

        <div class="rightActions">
            <div class="dropdown userDropdown" dropdown>
                <button type="button" class="btn" dropdownToggle id="page-header-user-dropdown">
                  <span class="userName">Welcome, Harikrishna Nair</span>
                  <img class="userPic" src="/assets/img/users/user-dummy-img.jpg" alt="User Avatar">
                  <!-- <fa-icon [icon]="faAngleDown" class="d-none d-xl-inline-block"></fa-icon> -->
                </button>
                <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                  <!-- item-->
                  <a class="dropdown-item" routerLink="/home"><fa-icon [icon]="faUser"></fa-icon> Profile</a>
                  <a class="dropdown-item d-block" href="javascript: void(0);"><span class="badge bg-success float-end">11</span><fa-icon [icon]="faWrench"></fa-icon> Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><fa-icon [icon]="faPowerOff"></fa-icon> Logout</a>
                </div>
            </div>
        </div>

    </div>
</div>