body{
    font-family: 'JioType', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    min-height: 100vh;
}

a, .btn{

    &:hover{
        transition: all ease-in-out 250ms;
    }
}

main{
    padding-top: 70px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    flex: 1;
}

.btn{
    --bs-border-radius: 0.25rem;
    --bs-btn-font-size: .75rem;
    --bs-btn-font-weight: 700;
}

.btn-light{
    --bs-btn-border-color: #E5E5E5;
    --bs-btn-color: #333;
}

.btn-success{
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
}

.form-floating{
    font-size: .875rem;

    &.icon{
        position: relative;

        .ng-fa-icon{
            position: absolute;
            right: 15px;
            top: 17px;
            color: $gray-600;
            font-size: .89rem;
        }
    }
}