.topHeader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: var(--bs-header-bg);
    box-shadow: 0 0.75rem 1.5rem #12263f08;

    .container{
        display: flex;
        align-items: center;
    }

    .logo{
        margin-left: auto;
    }

    .rightActions{
        flex: 1;
        margin-left: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .userDropdown{

        .btn{
            display: flex;
            align-items: center;
            gap: 5px;

            .userPic{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            .userName{
                font-size: .875rem;
                font-weight: 700;

            }
        }

        .dropdown-menu {
            box-shadow: $box-shadow-lg;
            animation-name: DropDownSlide;
            animation-duration: 0.3s;
            animation-fill-mode: both;
            margin: 0;
            position: absolute;
            z-index: 1000;

            --bs-border-color-translucent: #eff2f7;
            --bs-border-radius: .25rem;
            --bs-dropdown-item-padding-x: 1.5rem;
            --bs-dropdown-item-padding-y: 0.35rem;
          
            &.show {
              top: 100% !important;
            }

            .dropdown-item{
                font-size: .875rem;

                .ng-fa-icon{
                    width: 17px;
                    color: $gray-600;
                    margin-right: 10px;
                    text-align: center;
                }
            }
          }
          
          .dropdown-menu-end[style] {
            left: auto !important;
            right: 0 !important;
          }
          
          .dropdown-menu[data-popper-placement^="right"],
          .dropdown-menu[data-popper-placement^="top"],
          .dropdown-menu[data-popper-placement^="left"] {
            top: auto !important;
            animation: none !important;
          }
          
          
    }
}

@keyframes DropDownSlide {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(10px);
    }
  }