.topHeader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #fff;
    background: linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 100%);
    box-shadow: 0 0.75rem 1.5rem #12263f08;
    border-bottom: 2px solid $success;

    &:before{
        content: '';
        position: absolute;
        left: 300px;
        top: 0;
        height: 100%;
        width: 1098px;
        background-image: url('/assets/img/bg/header-bg.png');
        background-size: 100% var(--bs-header-height);
        background-repeat: no-repeat;

        @include media-breakpoint-up(xl){
            left: initial;
            right: 0;
        }

        @include media-breakpoint-down(md){
            left: 200px;
        }
    }

    .container{
        position: relative;
        z-index: 9;

        display: flex;
        align-items: center;
        height: var(--bs-header-height);
    }

    .logo{
        margin-left: auto;

        img{
            height: 48px;
        }
    }

    .rightActions{
        flex: 1;
        margin-left: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .userDropdown{

        .btn{
            display: flex;
            align-items: center;
            gap: 5px;
            color: #fff;

            .userPic{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }

            .userName{
                font-size: .875rem;
                font-weight: 700;

                @include media-breakpoint-down(sm){
                    display: none;
                }
            }
        }

        .dropdown-menu {
            box-shadow: $box-shadow-lg;
            animation-name: DropDownSlide;
            animation-duration: 0.3s;
            animation-fill-mode: both;
            margin: 0;
            position: absolute;
            z-index: 1000;

            --bs-border-color-translucent: #eff2f7;
            --bs-border-radius: .25rem;
            --bs-dropdown-item-padding-x: 1.25rem;
            --bs-dropdown-item-padding-y: 0.35rem;
          
            &.show {
              top: 100% !important;
            }

            .dropdown-item{
                font-size: .875rem;

                .ng-fa-icon{
                    width: 17px;
                    color: $gray-600;
                    margin-right: 10px;
                    text-align: center;
                }
            }
          }
          
          .dropdown-menu-end[style] {
            left: auto !important;
            right: 0 !important;
          }
          
          .dropdown-menu[data-popper-placement^="right"],
          .dropdown-menu[data-popper-placement^="top"],
          .dropdown-menu[data-popper-placement^="left"] {
            top: auto !important;
            animation: none !important;
          }
          
          
    }
}

@keyframes DropDownSlide {
    100% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(10px);
    }
  }