.pageHeader{
    padding: 1.75rem 0;

    .container{
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md){
            flex-flow: column;
            gap: 10px;
            justify-content: center;
        }
    }

    h2{
        font-size: 2rem;
        font-weight: 900;
        margin: 0;

        @include media-breakpoint-down(md){
            font-size: 1.5rem;
        }
    }

    .btns{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        flex: 1;
    }
}

.table{

    th{
        background: $success;
        color: #fff;
    }

    td, th{
        font-size: .75rem;
        font-weight: 900;
        padding: 1.125rem 0.75rem;
        vertical-align: middle;
    }

    td{
        color: #333;
    }
    
}